{
  Layout = "_Layout";
}

@using DataBase.Models;
@using System.Security.Claims;
@model List<DataBase.Models.Flavors>;

<h2>List of your Flavors, @User.Identity.Name</h2>
<hr/>

@if (Model.Any())
{
 <ul>
  @foreach (Flavors flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId})</li>
  }
</ul>
} 
else
{
  <h3>No flavors have been added yet.</h3>
}
<p>@Html.ActionLink("Add a new flavor", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>